$primary: #5265E1;
$secondary: #FA5959;

.tablet {
    height: 100%;
    width: 80%;
}

.mancha-fondo {
    height: 70%;
    width: 180%;
    left: 25%;
    top: 25%;
    border-radius: 200px;
    z-index: -1;
}
.tabs {
    height: 30vh;
}


@import "../node_modules/bootstrap/scss/bootstrap";