$primary: #5265E1;
$secondary: #FA5959;

.tablet {
    width: 80vw;
    max-width: 600px;
    /*margin-top: 50px;*/
}
.mancha-fondo {
    background-color: $primary;
    margin-top: 60px;
    margin-left: 150px;
    height: 50vh;
    width: 70%;
    border-bottom-left-radius: 50%;
    background-position: 70% top;

}

@media (min-width: 768px) {
    .mancha-fondo {
        background-color: $primary;
        width: 507px;
        margin-top: 30%;
        height: 300px;
        border-bottom-left-radius: 50%;
        margin-left: 30%;
    }
}

@import "../node_modules/bootstrap/scss/bootstrap";